.player {
  background-color: #0002;
  border-style: ridge;
}
.volume {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
button {
  margin: 5px;
}
p {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
}

.bi {
  color: #ffffff;
  font-size: 30px;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.playing {
  background-color: #0002;
  border-style: ridge;
  border-color: #01ff70;
  margin: 2px;
}
.paused {
  background-color: #0002;
  border-style: ridge;
  border-color: #0002;
  margin: 2px;
}
button {
  margin: 0px;
}
.sidebar {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
}
.groupNature {
  display: flex;
  background-color: #fff4;
  flex-wrap: wrap;
  margin: 40px;
  max-width: 40%;
  justify-content: center;
}
