.player {
	float: left;
	margin: 15px;
	margin-top: 100px;
	background-color: #0002;
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.volume {
	display: flex;
	justify-content: center;
}
.container {
	height: 100vh;
}
.playing {
	border-color: #0f0;
}
button {
	margin: 5px;
}
p {
	display: flex;
	justify-content: center;
	color: #fff;
}
body {
	background-image: url("../../../../assets/images/bgLandscape.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

