.player {
	float: left;
	margin: 15px;
	margin-top: 100px;
	background-color: #0002;
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-style: ridge  ;
}
.volume {
	display: flex;
	justify-content: center;
}
.container {
	height: 100vh;
}
button {
	margin: 5px;
}
p {
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-weight: bold;
}
body {
	background: rgba(0,0,0,0.4) url("../../../../assets/images/bgRpg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: darken;
}

.bi {
	color: #ffffff;
	font-size: 30px;
}
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
